.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__pseudo-padding {
  flex: 1;
}

.about__pseudo-padding-top {
  min-height: 5rem;
}

.about__desc {
  font-size: 1.2rem;
  text-align: left;
}

.about__desc {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .about__pseudo-padding-top {
    min-height: 3rem;
  }
}
