.projectCard-card {
  width: 90vw;
  height: 25vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  border: dashed;
}

.project__description {
  margin-top: 1rem;
}

.projectCard-name{
  text-align: center;
  color:black
}

.project-keyword-stack {
  display: flex;
  justify-content: center;
}
.project-tag-stack {
  display: flex;

}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.projectCard-item-btn:hover{
  cursor:auto;
  background-color: transparent;
}

.projectCardText {
  flex-grow: 1;
  padding-left: 30px;
}

.projectCardButtons {
  position: absolute;
  bottom: 0;
  right: 0;
}


