.projectCard-div {
  width: 80vw;

  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
}


.project__description {
  margin-top: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}


