.projectCard-card {
  width: 80vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  border: dashed;
}


.project__description {
  margin-top: 1rem;
}

.project-title-stack {
  display: flex;
  justify-content: space-between;
}
.project-tag-stack {
  display: flex;

}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.projectCardMedia {
  width: 30vw; 
}

.projectCardText {
  flex-grow: 1;
  padding-left: 30px;
}

.projectCardButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; 
}


