.section.skills{
  max-width: 100vb;
}
.skills__list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 1rem;
  padding: 0.8rem 1.4rem;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.skills__list-item:hover {
  cursor: auto;
}
